@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(195, 238, 254);
}

.swiper-button-next:after,
.swiper-button-prev:after{
  color: #3b66d1;
}

.swiper-pagination-progressbar 
.swiper-pagination-progressbar-fill{
  background: #3b66d1 !important;
}